*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans",sans-serif;
    margin: 24px;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    padding: 5px;
    height: 56px;
    background-color: #3498DB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}
.main{
    background-color: #F3F4F6;
    display: flex;
    justify-content: center;
    height: 100%;
    gap: 10px;
    padding: 10px 0px;
}
.Side{
    flex: 1;
    width: 200px;
    padding: 10px;
    background-color: #2ECC71;
    color: white;
}
.Content{
    flex: 3;
    padding: 10px;
    background-color: #E74C3C;
    width: 200px;
    color: white;
}
.footer{
    padding: 10px;
    height: 56px;
    background-color: #9B59B6;
    color: white;
}